<h1>
  Add a new favorite
</h1>


<hr>

<!-- Form favorite start -->
<form action="/create_favorite" method="post">
<!-- Form favorite end -->

  <!-- Label and input for activity_id start -->
  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <!-- Input for activity_id start -->
    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_type, @favorite.activity_id), :class => "form-control") %>
    <!-- Input for activity_id end -->
  </div>
  <!-- Label and input for activity_id end -->

  <!-- Label and input for bucket_id start -->
  <div class="form-group">
    <label for="bucket_id">
      Bucket
    </label>

    <!-- Input for bucket_id start -->
    <input type="text" id="bucket_id" name="bucket_id" class="form-control">
    <!-- Input for bucket_id end -->
  </div>
  <!-- Label and input for bucket_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>

<hr>

<a href="/favorites">
  Go back
</a>
