<!-- Form favorite start -->
<form action="/create_favorite_from_activity" method="post">
<!-- Form favorite end -->

  <!-- Label and input for activity_id start -->
  <!-- Input for activity_id start -->
  <input type="hidden" name="activity_id" value="<%= @activity.id %>">
  <!-- Input for activity_id end -->

  <!-- Label and input for bucket_id start -->
  <div class="form-group">
    <label for="bucket_id">
      Bucket
    </label>

    <!-- Input for bucket_id start -->
    <input type="text" id="bucket_id" name="bucket_id" class="form-control" value="<%= @favorite.bucket_id %>">
    <!-- Input for bucket_id end -->
  </div>
  <!-- Label and input for bucket_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
