<form action="/create_favorite_from_activity" method="post">

  <input type="hidden" name="activity_id" value="<%= @activity.id %>">

  <div class="form-group">
    <label for="bucket_id">
      Bucket
    </label>

    <%= select_tag(:bucket_id, options_from_collection_for_select(Bucket.all, :id, :created_at, @favorite.bucket_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
