<h1>
  Add a new comment
</h1>


<hr>

<form action="/create_comment" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control">
  </div>

  <div class="form-group">
    <label for="poster_id">
      Poster
    </label>

    <%= select_tag(:poster_id, options_from_collection_for_select(User.all, :id, :username, @comment.poster_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_type, @comment.activity_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="bucket_id">
      Bucket
    </label>

    <input type="text" id="bucket_id" name="bucket_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
