<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Buckets

    <a data-toggle="collapse" href="#photo_buckets_new_form">
      Add bucket
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @photo.buckets.each do |bucket| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/buckets/<%= bucket.id %>">
          <%= bucket.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_bucket_from_photo/<%= bucket.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="photo_buckets_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "photo_templates/photo_buckets_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
