<form action="/create_bucket_from_photo" method="post">

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city_name, @bucket.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @bucket.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="bucket_name">
      Bucket name
    </label>

    <input type="text" id="bucket_name" name="bucket_name" class="form-control" value="<%= @bucket.bucket_name %>">
  </div>

  <input type="hidden" name="photo_id" value="<%= @photo.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create bucket
  </button>
</form>
