<!-- Form bucket start -->
<form action="/create_bucket_from_photo" method="post">
<!-- Form bucket end -->

  <!-- Label and input for location_id start -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <!-- Input for location_id start -->
    <input type="text" id="location_id" name="location_id" class="form-control" value="<%= @bucket.location_id %>">
    <!-- Input for location_id end -->
  </div>
  <!-- Label and input for location_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @bucket.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for bucket_name start -->
  <div class="form-group">
    <label for="bucket_name">
      Bucket name
    </label>

    <!-- Input for bucket_name start -->
    <input type="text" id="bucket_name" name="bucket_name" class="form-control" value="<%= @bucket.bucket_name %>">
    <!-- Input for bucket_name end -->
  </div>
  <!-- Label and input for bucket_name end -->

  <!-- Label and input for photo_id start -->
  <!-- Input for photo_id start -->
  <input type="hidden" name="photo_id" value="<%= @photo.id %>">
  <!-- Input for photo_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bucket
  </button>
</form>
