<h1>
  Edit photo #<%= @photo.id %>
</h1>

<hr>

<form action="/update_photo/<%= @photo.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <%= cl_image_tag(@photo.image_url.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image_url" name="image_url" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
