<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Activities

    <a data-toggle="collapse" href="#bucket_activities_new_form">
      Add activity
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @bucket.activities.each do |activity| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/activities/<%= activity.id %>">
          <%= activity.activity_type %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_activity_from_bucket/<%= activity.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="bucket_activities_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
